.PanelContainer{
    width: 100%;
    height: 100vh;
    overflow-y:auto

}

.PanelContainer::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

.header{
    background-color: white;
    color:black;
    height: 20vh;

    display: flex;
    align-items: center;

    border-bottom: 1px solid black;
}

.headerItem{
    margin-left: 5%;
}

.CardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card{
    background-color: #efefef;
    width: 30%;
    height: 50vh;
    margin: 5%;
    border: 1px solid black;
    border-bottom-left-radius:3px ;
    border-bottom-right-radius: 3px;
}

.prev{
    height: 80%;
    background-color: white;
}

.cta{
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    text-align: center;
    background-color: #efefef;
}

.a{
    cursor: pointer;
}

.a:hover{
    opacity: 65%;
}

.red{
    color: red;
}