.ViewContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
}

.player{
    background-color: red;
    height: 100vh;
    width: 50vh;
    margin: auto;
    /* margin-top: 20px; */
}